@model WebTestProject.ViewModels.UserViewModel

<div class="row">
    <div class="col-md-6">
        @Html.LabelFor(d => d.FirstName)
        @Html.TextBoxFor(d => d.FirstName)
    </div>
    <div class="col-md-6">
        @Html.LabelFor(d => d.LastName)
        @Html.TextBoxFor(d => d.LastName)
    </div>
</div>